# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache directories
__pycache__/

# Ignore tfrecords
*.tfrecord

# Ignore the folders where the tfrecords are stored.
**/02_CreateRecords/*/Folds/

# Ignore the config of dvc, it contains secrets
*.dvc/config
